.menu_item {
    padding: 15px 20px 15px 20px;
    display: flex;
    gap: 10px;
    text-align: left;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;

    &:hover {
        background: #EBEBEB;
    }

}

.menu_item_active {
    padding: 15px 20px 15px 20px;
    display: flex;
    gap: 10px;
    text-align: left;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
    background: #E6F4FF;
    color: #1677FF
}
.container_nav {
    display: flex;
    flex-direction: column;
    gap: 10px
}
.container {
    display: flex;
}